{% extends "layout.html" %}

{% load static %}

{% block content %}

              
{% if user.is_authenticated %}

    <div class="row" style="padding-top: 30px;">
        {% for destino in destinos %}       
    
            <div class="col-sm-12 col-md-12 col-xl-6 col-xxl-6">
                <div class="card-pos2">
                    <div class="row">
                        <div class="col">
                            <div class="maps">
                                {{ destino.ver_maps }}
                            </div>
                        </div>
                        <div class="col">
                            <h5 id= "card" class="card-title">{{ destino.nombre }}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{ destino.calle }} {{ destino.numero }}</h6>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{ destino.localidad }}</h6>
                            <p class="card-text text-body-secondary">{{ destino.telefono }}</p>
                        </div>
                    </div>
                </div>
            </div>   
        {% endfor %}
    </div>
    <a href="{% url 'crear_destino' %}">Nuevo destino</a>

{% else %}
    {% include 'titulo.html' %}
    {% include "login-register.html" %}
{% endif %}

{% endblock %}