<div class="table-responsive">
    <table class="table table-striped-columns table-sm">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Dirección</th>
                <th scope="col">Localidad</th>
                <th scope="col">Telefono</th>
                <th scope="col">Maps</th>
            </tr>
        </thead>

        <tbody>

            {% for nodo in nodos %}
 
               <tr>                      
                    <th style="color: rgb(94, 94, 94);">{{ nodo.nombre }}</th>
                    <td style="color: rgb(94, 94, 94);">{{ nodo.calle }} {{ nodo.numero }}</td>
                    <td style="color: rgb(94, 94, 94);">{{ nodo.localidad }}</td>
                    <td style="color: rgb(94, 94, 94);">{{ nodo.telefono }}</td>
                    <td style="color: rgb(94, 94, 94);" scope="row">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ventanaModal" data-info='{{ nodo.ver_maps }}'>
                            Ver
                        </button>
                    </td>
                </tr> 
                {% empty %}
                
                    <p>No existen nodos</p>

            {% endfor %}
        </tbody>

    </table>
</div> 