.card {
    width: 18rem;
    border-color: $naranja-base;
    padding: 5px;
    margin: auto;
    margin-top:10px;
    margin-bottom: 10px;
  }
  
  .card-pos {
    padding: 12px;
    margin: 15px;
    border: 1px solid $naranja-base;
    border-radius: 1%;
  }

  .card-pos2 {
    padding: 6px;
    margin: 6px;
    border: 1px solid $gris3;
    border-radius: 1%;
  }

  .maps {
    border: 1px solid $azul-base-2;
  }
  
  .card-title {
    color: $azul-base;
  }
  
  .card-img-top {
    height:180px
  }

  #card {
    padding-top: 10px;
    padding-bottom: 10px;
  }