.image-center {
    text-align: center;
}

.text-padding-top {
    padding-top: 20px;
}

.h3-color {
    color: $azul-base2;
}

.p-color {
    color: $azul-base1;
}

.p-color-gris {
    color: $gris4;
}