.image-center {
    text-align: center;
}

.text-padding-top {
    padding-top: 20px;
}

.h3-color {
    color: $azul-base2;
}

.p-color {
    color: $azul-base1;
}

.p-color2 {
    color: $azul-base2;
}

.p-color1 {
    color: $azul-base1;
}

.p-color-gris {
    color: $gris4;
}

.card-login {
    border: 1px solid $naranja-base-2;
    padding: 15px;
    margin: 5px;
}

.padding-card {
    padding: 5px;
}