/* Paleta azul */

$azul-base2: #0D2B6E;
$azul-base1: #0F3380;
$azul-base: #11388f;
$azul-base-1: #1341A4;
$azul-base-2: #1548b7;

/* Paleta naranja */

$naranja-base2: #BE7323;
$naranja-base1: #CF7D26;
$naranja-base: #d9872d;
$naranja-base-1: #DC9141;
$naranja-base-2: #DF9B53;

/* Escala de grises */

$gris: #e0e2db;
$gris1: #d2d4c8;
$gris2: #b8bdb5;
$gris3: #889696;
$gris4: #5f7470;