{% load static %}

<!doctype html>
<html lang="en">
 
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Hoja de Ruta{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}{% endblock %}</title>
		<meta name="keywords" content="{{ palabras_claves }}" />
		<meta name="description" content="{{ descripcion }}" />
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
	</head>
  
  	<body>
 
		{% block layout %}{% endblock %}
		
		{% block scripts %}
		
		<!-- jquery para producción -->
		<script src="https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script> 
 
		<script = "text/javascript">
			/*jslint browser: true*/
			/*jslint plusplus: true*/
			/*global FormData: false */
			/*global $, jQuery, alert, console*/
			/*..............................................................................................
			... PARA VALIDAR LOS DATOS .....................................................
			.............................................................................................*/
			var csrftoken = $.cookie('csrftoken');
			function csrfSafeMethod(method) {
				"use strict";
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}		
		</script>

		

		<script>
			function  agregar(template, divClass) {
				$(divClass).append(function () {
					$(divClass).append(template);
				});
			};
			function consultaEstado(envioId, envioDetalle) {
				"use strict";

				console.log(envioId, envioDetalle)
				$.ajax({
					beforeSend : function (xhr, settings) {
						if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
						}
					},
					url : "agregar",
					type : "GET",
					data : { envio_id: envioId, envio_detalle: envioDetalle },	
					success : function (envio) {

						console.log(envio)

						let a= `{% include 'hojaderuta/para_recibir.html' %}`;

						agregar(a);
						
					},
					error : function (xhr, errmsg, err) {
						console.log('Error en carga de respuesta');
					}
				});
			} 

			$('.agregarDoc').click(function (event) { //Cuando se hace click en el elemento agregarDoc
				"use strict";
				event.preventDefault(); // Previene que se desencadenen otros scripts
				let envioDetalle = $(this).parent().find('.envioDetalle').val(); // De el elemento padre busca el valor del elemento envioDetalle
				let envioId = $(this).parent().find('.envioId').val(); // De el elemento padre busca el valor del elemento envioId
				
				// Elimino clave/valor del local storage que no sean las que necesito
				let i;
				for(i = 0; i < localStorage.length; i++){ 		// bucle for recorre todas las claves del LocalStorage
					let claveEliminar = localStorage.key(i);	// Define la clave a leminar
					if(!claveEliminar.startsWith("imp_")){		// Compueba si no comienza con "imp_"
						localStorage.removeItem(claveEliminar);	// si cumple con la declaracion lo elimina
					}
				}
				// Guardo mi clave/valor
				localStorage.setItem(envioId, envioDetalle);   // Guarda mi dato en el LocalStorage	
				
				alert('Envio agregado a impresiones' )

				consultaEstado(envioId, envioDetalle);
			});

			function agregaScroll(template, divClass) {
				"use strict";

				$.ajax({
					beforeSend : function (xhr, settings) {
						if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
						}
					},
					url : "agregar",
					type : "GET",

					success : function (envio) {

						console.log(envio)


						agregar(template, divClass);
						
					},
					error : function (xhr, errmsg, err) {
						console.log('Error en carga de respuesta');
					}
				});
			}

			$('.ver').click(function (event) { //Cuando se hace click en el elemento agregarDoc
				"use strict";
				event.preventDefault(); // Previene que se desencadenen otros scripts
				let template = `{% include 'hojaderuta/para_recibir.html' %}`;
				let divClass = `.paraRecibir`;
				agregaScroll(template, divClass);
				 });	
			
		</script>

		<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>

		<script src="{% static 'js/main.js' %}"></script>
		<script>
			gsap.registerPlugin(ScrollTrigger);
document.addEventListener("DOMContentLoaded", (event) => { 
//para a recibir
gsap.to( 
    ".box4",{ 
            scrollTrigger: {
                    trigger: ".box4",
                    toggleActions: "restart none none none",
            },
            x: -30, 
            y: 5, 
            fill: '#0dcaf0', //cian
            rotation: 360, 
            duration: 4, 
            scale: 2
        });

gsap.to( 
    ".box5",{ 
        scrollTrigger: {
                trigger: ".box5",
                toggleActions: "restart none none none",
            },
        x: -15, 
        y: -20,
        fill: '#712cf9', //violeta
        rotation: 360, 
        duration: 1,
        scale: 2

        });

gsap.to( 
    ".box6",{ 
        scrollTrigger: {
                trigger: ".box6",
                toggleActions: "restart none none none",
            },
        x: 0, 
        y: 5,
        fill: '#d63384', //code
        rotation: 360, 
        duration: 2,
        scale: 2

    });

gsap.to( 
     ".box1",{
        scrollTrigger: {
                trigger: ".box1",
                toggleActions: "restart none none none",
            }, 
         x: 0,
         y: 25, 
         fill: '#d63384', //code
         rotation: 360, 
         duration: 4,
         scale: 2  
     });

gsap.to( 
    ".box2",{
        scrollTrigger: {
                trigger: ".box2",
                toggleActions: "restart none none none",
            },
        x: 0,
        y: -10, 
        fill: '#0dcaf0', //cian
        rotation: 360, 
        duration: 4, 
        scale: 2 
    });
 
gsap.to( 
    ".box3",{
        scrollTrigger: {
                trigger: ".box3",
                toggleActions: "restart none none none",
            }, 
        x: 0,
        y: 25, 
        fill: '#712cf9', //violeta
        rotation: 360, 
        duration: 4, 
        scale: 2 
    });
gsap.to( 
        ".maps1",{ 
            scrollTrigger: {
                trigger: ".maps1",
                toggleActions: "restart none none none",
            },
            x: -5,
            y: 5, 
            fill: '#712cf9',//violeta
            rotation: 360, 
            duration: 4, 
            scale: 2
        });

    gsap.to( 
        ".maps2",{
            scrollTrigger: {
                trigger: ".maps2",
                toggleActions: "restart none none none",
            }, 
            x: 0,
            y: 20, 
            fill: '#0dcaf0',//cian
            rotation: 360, 
            duration: 1, 
            scale: 2 
        });

    gsap.to( 
        ".maps3",{
            scrollTrigger: {
                trigger: ".maps3",
                toggleActions: "restart none none none",
            }, 
            x: 5,
            y: 5, 
            fill: '#d63384',//code
            rotation: 360, 
            duration: 2, 
            scale: 2 
        });
});
		</script>
		{% endblock  %}
	</body>

</html>
