
<div class="row">
	{% if user.is_authenticated %}
	<div class="col-sm-12 col-md-8 col-xl-9 col-xxl-9">
		<div class="row">
		{% for link in links %}	
			<div class="col	">	
				<a class="text-decoration-none" href="{{ link.url }}">
					<img src="/media/{{ link.icono }}" width="30" height="30">
					<span class="text-body-secondary">{{ link.nombre }}</span>
				</a>
			</div>	
		{% endfor %}
		</div>
	</div>	
		
	
	{% endif %}
	<div class="col-sm-12 col-md-4 col-xl-3 col-xxl-3 text-end">
		<span class="text-body-secondary" style="padding-right: 5px; font-size: small;">&copy; 2024, HojaDeRuta</span>		
	</div>
</div>





