{% extends "base.html" %}

{% load static %}

{% block layout %}

<header>
    {% include "header.html" %}
</header>

<!--<div class= "content" id="page-container">-->
    <div class="container" style="padding-top: 8px;">        
        {% block content %}{% endblock  %}        
    </div> 
    <br>                                                                                                                                                        
    {% include "footer.html" %}
<!--</div>-->


    


{% endblock  %}