{% extends "layout.html" %}

{% load static %}

{% load mi_templatetag %}

{% load qr_code %}

{% block content %}
              
{% if user.is_authenticated %}

    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-xl-2 col-xxl-2 text-center">
                <h3><b>Impresiones</b></h3>
            </div>

            <div class="col-sm-12 col-md-6 col-xl-6 col-xxl-6">  
                <p>Estas son tus impresiones pendientes.</p>  
            </div>  
        </div>
        <div class="row card-login">
            {% for impresion in impresiones %}
                {{ impresion.id }}
                {{ impresion.origen }}
                {{ impresion|ver_destino }}
                {% qr_from_data impresion.id size="m" dark_color="#dee2e6" light_color="#212529" %}
            {% endfor %}
        </div>
    </div>

{% else %}
    {% include 'titulo.html' %}
    {% include "login-register.html" %}
{% endif %}

{% endblock %}