{% extends "layout.html" %}

{% load static %}

{% load mi_templatetag %}

{% load qr_code %}


{% block content %}

<div class="container">
    <br>
    <div class="row">
        <div class="col-xl-4 col-md-4 col-sm-12 col-xxl-4">

            <div class="row">
                <h4>
                    <b>Detalle del envío</b>
                </h4>
                <br>
                <p>
                    Desde {{ envio.origen }} hasta {{ envio|ver_destino }}. Creado el {{ envio.fecha }} a 
                    las {{ envio.hora }} por {{ envio.usuario }}.
                </p>
    
                <p>Descripcion: {{ envio.descripcion }}</p>
            </div>
            
            <div class="row">
                <h4>
                    <b>Qr</b>
                </h4>
                {% qr_from_data envio.id size="m" %}
            </div>

        </div>

        <div class="col-xl-8 col-md-8 col-sm-12 col-xxl-8">
            <h4>
                <b>Seguimiento del envío</b>
            </h4>        
            <div class="table-responsive">
                <table class="table table-striped-columns table-sm">
                    <thead class="table-dark">
                        <tr>
                        <th scope="col">Estado</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Fecha
                        <th scope="col">Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for seguimiento in envio.seguimientodeenvio_set.all %}   
                        <tr>                      
                            <th style="color: rgb(94, 94, 94);" scope="row">{{seguimiento.estado}}</th>
                            <td style="color: rgb(94, 94, 94);">{{seguimiento.usuario}}</td>
                            <td style="color: rgb(94, 94, 94);">{{ seguimiento.fecha_de_modificacion }}</td>
                            <td style="color: rgb(94, 94, 94);">{{ seguimiento.hora_de_modificacion }}</td>
                        </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            </div>  
            <h4>
                <b>Cambiar de estado</b>
            </h4> 
            <form method="post" action="">
        
                {% csrf_token %}
                        
                {{ envio|cambio_estado:nodos_perfil }}

            </form>
        </div>  
    </div>

</div>
    
{% endblock %}
