{% extends "layout.html" %}

{% load static %}

{% load mi_templatetag %}

{% load qr_code %}


{% block content %}

<div class="container">
    <br>
    <div class="row">
        <div class="col-xl-6 col-md-6 col-sm-12 col-xxl-6">
            <h4>
                <b>Detalle del envío</b>
            </h4>
            <br>
            <p>
                Desde {{ envio.origen }} hasta {{ envio|ver_destino }}. Creado el {{ envio.fecha }} a 
                las {{ envio.hora }} por {{ envio.usuario }}.
            </p>

            <p>Descripcion: {{ envio.descripcion }}</p>
        </div>
        
        <div class="col-xl-6 col-md-6 col-sm-12 col-xxl-6">
            <div style="border: 1px solid #d63384;">
            {% qr_from_data envio.id size="m" %}
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-xl-6 col-md-6 col-sm-12 col-xxl-6">
            <h4>
                <b>Seguimiento del envío</b>
            </h4>        
            <div class="table-responsive">
                <table class="table table-striped-columns table-dark table-sm">
                    <thead>
                        <tr>
                        <th style="color: #d63384;font-size: small" scope="col">Estado</th>
                        <th style="color: #d63384;font-size: small" scope="col">Usuario</th>
                        <th style="color: #d63384;font-size: small" scope="col">Fecha
                        <th style="color: #d63384;font-size: small" scope="col">Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for seguimiento in envio.seguimientodeenvio_set.all %}   
                        <tr>                      
                            <th scope="row">{{seguimiento.estado}}</th>
                            <td>{{seguimiento.usuario}}</td>
                            <td>{{ seguimiento.fecha_de_modificacion }}</td>
                            <td>{{ seguimiento.hora_de_modificacion }}</td>
                        </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
        </div> 
        <div class="col-xl-6 col-md-6 col-sm-12 col-xxl-6">
            <h4>
                <b>Cambiar de estado</b>
            </h4> 
            <form method="post" action="">
        
                {% csrf_token %}
                        
                {{ envio|cambio_estado:nodos_perfil }}

            </form>
        </div>  
    </div>

</div>
    
{% endblock %}
