{% extends "layout.html" %}

{% load static %}

{% load mi_templatetag %}

{% load qr_code %}

{% block content %}

<div class="container">
    <br>
    <div class="row">
        <h4>
            <b>Detalle del envío</b>
        </h4>
    </div>
    <div class="row card-login">
        <div class="col-xl-3 col-md-3 col-sm-6 col-xxl-3">
            <div>
                {% qr_from_data envio.id size="m" dark_color="#dee2e6" light_color="#212529" %}
            </div>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12 col-xxl-6">

            <br>
            <p>ID: {{ envio.id }}</p>
            <p> 
                Desde {{ envio.origen }} hasta {{ envio|ver_destino }}. Creado el {{ envio.fecha }}, a 
                las {{ envio.hora }} hs por el usuario {{ envio.usuario }}.
            </p>

            <p>Descripción: {{ envio.descripcion }}</p>
        </div>
        

        <br>
    </div>
    <br>
    <div class="row">
        <div class="col-xl-4 col-md-6 col-sm-12 col-xxl-4">
            <div class="row">
                <h6>
                    <b>Acciones</b>
                </h6>                 
            </div>
            <div class="row">
                <p>Cambiar de estado a: </p>                                
                
                <form method="post" action="">
                    <div class="row">
                        {% csrf_token %}
                            
                        {{ envio|cambio_estado:nodos_perfil }}
                    </div>
                </form>
                

            </div>
            <br>
            <div class="row">
                <div class="col">
                    <p>Enviar a:</p>
                </div>
                <div class="col">
                    <input type="submit" hidden class="envioId" value="imp_{{ envio.id }}"/>
                    <input type="submit" hidden class="envioDetalle" value="Para: {{ envio|ver_destino }}"/>
                    <button type="button" class="btn btn-primary btn-sm agregarDoc">Impresion</button>    
                </div>
            </div>

        </div> 
        <br> 
        <div class="col-xl-8 col-md-6 col-sm-12 col-xxl-8">
            <h6>
                <b>Seguimiento del envío</b>
            </h6>        
            <div class="table-responsive">
                <table class="table table-striped-columns table-dark table-sm table-borderless">
                    <thead>
                        <tr>
                        <th style="color: #d63384;font-size: small" scope="col">Estado</th>
                        <th style="color: #d63384;font-size: small" scope="col">Usuario</th>
                        <th style="color: #d63384;font-size: small" scope="col">Fecha
                        <th style="color: #d63384;font-size: small" scope="col">Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for seguimiento in envio.seguimientodeenvio_set.all %}   
                        <tr>                      
                            <th scope="row">{{seguimiento.estado}}</th>
                            <td>{{seguimiento.usuario}}</td>
                            <td>{{ seguimiento.fecha_de_modificacion }}</td>
                            <td>{{ seguimiento.hora_de_modificacion }}</td>
                        </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
        </div> 
 
    </div>

</div>
    
{% endblock %}
