{% extends "layout.html" %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-xl-3 col-md-3 col-sm-12 col-xxl-3">
        <div class="row">
            <h4>
                <b>Nuevo envio</b>
            </h4>
        </div>
        <div class="row">
            <img src="{% static 'imagenes/envios.png' %}" class="card-img-top">
        </div>
        <div class="row">
            <p>Selecciona la sucursal de donde quieres hacer tu envio, la sucursal de destino
                y agrega una descripcion de lo que quieres enviar.
            </p>
        </div>
    </div>

    <div class="col-xl-9 col-md-9 col-sm-12 col-xxl-9">
        <br>
        <form  class="px-4 py-3" action="{% url 'nuevo_envio' %}" method="post">
            
            <div class="form-control">

                {% csrf_token %}
                
                <label for="id_origen">Desde</label>   
                <div>
                    <select name="origen" class="form-control" required id="id_origen">
                        {% if nodos_perfil %}
                            
                            {% for nodo in nodos_perfil %}
                
                                <option value='{{ nodo.id }}'>{{ nodo.nombre }}</option>
                        
                            {% endfor %}
                        
                        {% endif %}
                    </select>
                </div>
            
                <label for="id_destino">Para</label>   
                <div>
                    <select name="destino" class="form-control" required id="id_destino">
                        {% if nodos %}
                            
                            {% for nodo in nodos %}
                
                                <option value='{{ nodo.id }}'>{{ nodo }}</option>
                        
                            {% endfor %}
                        
                        {% endif %}
                    </select>
                </div>
                <label for="id_descripcion">Descripción</label>
                <div>
                    {{form.descripcion }}
                </div>
                <br>
                <div>
                    <input type="submit" value="OK" class="w-100 mb-2 btn btn-sm rounded-3 btn-primary" id="btn_ok">
                </div>
            </div>       
        </form> 
    </div>
</div>

{% endblock %}