{% load static %}

{% load mi_templatetag %}

<div class="row">
    {% if mis_envios != 0 %}

    <div class="col-xl-3 col-md-3 col-sm-12 col-xxl-3">
        <div class="row">
            <h4>
                <b>Mis envios</b>
            </h4>
        </div>
        <div class="row">
            <img src="{% static 'imagenes/envios.png' %}" class="card-img-top">
        </div>
        <div class="row">
            <p>Tienes {{ mis_envios }} envíos preparados / en camino. Para ver el detalle selecciona su Id. O crea nuevos envios desde el siguiente enlace.</p>
        </div>    
        <div class="row">
            <a type="button" class="btn btn-primary btn-sm" href="{% url 'nuevo_envio' %}">Nuevo Envío</a>
        </div>
    </div>

    <div class="col-xl-9 col-md-9 col-sm-12 col-xxl-9">           
        <div class="table-responsive">
            <table class="table table-striped-columns table-dark table-sm">
                <thead>
                    <tr>
                        <th style="color: #d63384;font-size: small" scope="col">Origen</th>
                        <th style="color: #d63384;font-size: small" scope="col">Destino</th>
                        <th style="color: #d63384;font-size: small" scope="col">Estado</th>
                        <th style="color: #d63384;font-size: small" scope="col">ID</th>
                    </tr>
                </thead>
                <tbody>
                {% for envios in preparados %}
                    
                    {% for envio in envios %}
              
                        <tr>                      
                            <td>{{ envio.origen }}</td>
                            <td>{{ envio|ver_destino }}</td>
                            <td>{{ envio.estado }}</td>
                            <th scope="row">
                                <a  href="{% url 'ver_envio' envio.id %}" style="font-size: small;">{{ envio.id }}</a>
                            </th>
                        </tr> 
        
                    {% endfor %}
        
                    {% empty %}
                        
                        <p>No tienes envios preparados</p>
                
                {% endfor %}
                
                {% for envios in en_camino %}
         
                    {% for envio in envios %}
                    
        
                            <tr>
                                <th style="color: rgb(94, 94, 94);" scope="row">
                                    <button type="button" class="btn btn-primary">
                                        <a  href="{% url 'ver_envio' envio.id %}" style="font-size: small;">{{ envio.id }}</a>
                                    </button>
                                </th>
                                <td style="color: rgb(94, 94, 94);">{{ envio.origen }}</td>
                                <td style="color: rgb(94, 94, 94);">{{ envio|ver_destino }}</td>
                                <td style="color: rgb(94, 94, 94);">{{ envio.fecha }}</td>
                                <td style="color: rgb(94, 94, 94);">{{ envio.hora }}</td>
                                <td style="color: rgb(94, 94, 94);">{{ envio.estado }}</td>
                            </tr>
                    
                    {% endfor %}
        
                    {% empty %}
                        
                        <p>No tienes envios en camino</p>
        
                {% endfor %}
                </tbody>
            </table>
        </div>            
    </div> 
    {% else %}
    <div class="col-xl-3 col-xxl-3 col-sm-12 col-md-3">
        <div class="row">
            <img src="{% static 'imagenes/envios.png' %}" class="card-img-top">
        </div>
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12 col-xxl-6">
        <div class="row">
            <h4>
                <b>Mis envios</b>
            </h4>
        </div>

        <div class="row">
            <p>No tienes envíos preparados / en camino. Para crear un envio selecciona el siguiente enlace.</p>
        </div>    
        <div class="row">
            <a type="button" class="btn btn-primary btn-sm" href="{% url 'nuevo_envio' %}">Nuevo Envío</a>
        </div>
    </div>
    {% endif %}  
</div>
