{% extends "layout.html" %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
    <div class="row"> 
        <div class="col card-pos">
            <h4>Estos son tus envíos {{ user.get_username }}!</h4>
            <p>Selecciona el Id del envío para ver mas detalles.</p>
            {% if preparados %}
                <div class="table-responsive">
                    <table class="table table-striped-columns table-sm">
                        <thead>
                            <tr>
                            <th scope="col" style="background-color: #0e3788; color: white;">Id</th>
                            <th scope="col" style="background-color: #0e3788; color: white;">Origen</th>
                            <th scope="col" style="background-color: #0e3788; color: white;">Destino</th>
                            <th scope="col" style="background-color: #0e3788; color: white;">Fecha</th>
                            <th scope="col" style="background-color: #0e3788; color: white;">Hora</th>
                            <th scope="col" style="background-color: #0e3788; color: white;">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for envios in preparados %}
                            {% for envio in envios %}
                            <tr>                      
                                <th style="color: rgb(94, 94, 94);" scope="row">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ventanaModal"
                                        data-info= "">
                                        {{ envio.id }}
                                    </button>
                                </th>
                                <td style="color: rgb(94, 94, 94);">{{ envio.origen }}</td>
                                <td style="color: rgb(94, 94, 94);">{{ envio.destino }}</td>
                                <td style="color: rgb(94, 94, 94);">{{ envio.fecha }}</td>
                                <td style="color: rgb(94, 94, 94);">{{ envio.hora }}</td>
                                <td style="color: rgb(94, 94, 94);">{{ envio.estado }}</td>
                            </tr> 
                            {% for seguimiento in envio.seguimientodeenvio_set.all %}   
                            
                                {{seguimiento.usuario}}

                            {% endfor %}
                            {% endfor %}
                        {% endfor %}
                        {% for envios in en_camino %}
                            {% for envio in envios %}
                            <tr>
                                <th style="color: rgb(94, 94, 94);" scope="row">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ventanaModal"
                                        data-info="<p>{{ envio.descripcion }}</p>">
                                        {{ envio.id }}
                                    </button>
                                </th>
                                <td style="color: rgb(94, 94, 94);">{{ envio.origen }}</td>
                                <td style="color: rgb(94, 94, 94);">{{ envio.destino }}</td>
                                <td style="color: rgb(94, 94, 94);">{{ envio.fecha }}</td>
                                <td style="color: rgb(94, 94, 94);">{{ envio.hora }}</td>
                                <td style="color: rgb(94, 94, 94);">{{ envio.estado }}</td>
                            </tr>
                            {% for seguimiento in envio.seguimientodeenvio_set.all %}   
                            
                                {{seguimiento.usuario}}
                            
                            {% endfor %}
                            {% endfor %}

                        {% endfor %}
                        </tbody>
                    </table>
                </div>                
                                
            {% else %}
                <p>No tienes pedidos PREPARADOS para enviar desde tus nodos asignados.</p>
            {% endif %}

            {% if en_camino %}
                          
            {% else %}
                <p>No tienes pedidos EN CAMINO desde tus nodos asignados.</p>
            {% endif %}
        </div>
    </div>
    <div class="row"> 
        <div class="col card-pos">
            <h4>Nuevo Envío</h4>

            <form  class="px-4 py-3" action="{% url 'mis_envios' %}" method="post" action="">

                {% csrf_token %}
                
                <div class="form-control">

                    {% csrf_token %}
                    
                    <label for="id_origen">Desde</label>   
                    <div>
                    <select name="origen" class="form-select" required id="id_origen">
                        {% if perfil %}
                            
                            {% for nodo in perfil %}
                
                            <option value='{{ nodo.nodo.id }}'>{{ nodo.nodo.nombre }}</option>
                        
                            {% endfor %}
                        
                            {% endif %}
                      </select>
                    </div>
                
                    <label for="id_destino">Para</label>   
                    <div>
                    <select name="destino" class="form-select" required id="id_destino">
                        {% if nodos %}
                            
                            {% for nodo in nodos %}
                
                            <option value='{{ nodo.id }}'>{{ nodo }}</option>
                        
                            {% endfor %}
                        
                            {% endif %}
                      </select>
                    </div>
                
                <div class="form-control">
                    <label for="id_descripcion">Descripción</label>
                    <div>{{form.descripcion }}</div>
                </div>
                <input type="submit" value="OK" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" id="btn_ok">

             <div class="form-control">
            </div>
            </form>
        </div>    
    </div>

    {% include "hojaderuta/detalle_envio.html" %}
{% else %}
    {% include "login-register.html" %}
{% endif %}

{% endblock %}