{% extends "layout.html" %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

    <div class="container">

        <div class="row"> 
            <div class="col">
                <h4>Estos son los envíos que recibiras {{ user.get_username }}!</h4>
                
                <p>Selecciona el Id del envío para ver mas detalles.</p>
                    
                {% include "hojaderuta/tabla_envios.html" %}                                

            </div>
        </div>
    </div>


{% else %}
    {% include "login-register.html" %}
{% endif %}

{% endblock %}